.header {
  text-align: right;
}

.content {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

h1 {
  background: url(./garbage.jpeg) 0 0 repeat-x;
  background-size: cover;
  font-size: 80px;
}
